* {
  margin: 0;
  padding: 0;
  border: 0px;
}

body,
html {
  scroll-behavior: smooth;
}

#bg {
  min-width: 1500px;
  height: auto;
  background-color: rgb(244, 244, 244);
}

#bg > .bd {
  width: 1190px;
  margin: 0 auto;
}

div.box {
  margin: 0;
  width: 100%;
  height: 30px;
  background-color: rgb(227, 228, 229);
  position: relative;
  min-width: 1500px;
  /* padding: auto; */
}

.grid-container {
  /* 网格布局 */
  display: grid;
  height: 30px;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-gap: 0px;
  /* 网格间隙 */
  background-color: rgb(227, 228, 229);
  position: absolute;
  /*绝对位置，使重叠*/
  left: 10%;
  /* 盒子里左右比例 */
  right: 11%;
  align-items: center;
  justify-items: center;
}

.grid-container a.r {
  display: block;
  color: rgb(153, 153, 153);
  font-family: "宋体";
  font-size: 7px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  border-left: 1px solid rgb(204, 204, 204);
  max-height: 20px;
  min-width: 80px;
}

.grid-container a.l {
  display: block;
  color: rgb(153, 153, 153);
  font-family: "宋体";
  font-size: 7px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  max-height: 20px;
  min-width: 80px;
}

.grid-container a.black:hover {
  /* 鼠标移至背景变白色 */
  padding: 9.8% 9%;
  background-color: rgb(255, 255, 255);
  border-bottom: 0px;
}

.grid-container a.active {
  color: rgb(153, 153, 153);
}

.grid-container a.active:hover {
  color: rgb(227, 51, 51);
}

.grid-container a.red {
  color: rgb(227, 51, 51);
}

.tooltiptext1 {
  /* 提示文本 */
  visibility: hidden;
  padding: 10px;
  width: 300px;
  height: 442px;
  border: 1px solid rgb(204, 204, 204);
  border-top: 0ch;
  color: rgb(153, 153, 153);
  background-color: rgb(255, 255, 255);
  /* 定位 */
  position: absolute;
  z-index: 10;
  /* 提示在图片外面 */
  top: 100%;
  margin-left: -68px;
}

.tooltiptext2 {
  /* 《我的京东》提示框 */
  visibility: hidden;
  padding: 10px;
  width: 280px;
  height: 161px;
  border: 1px solid rgb(204, 204, 204);
  border-top: 0ch;
  color: rgb(153, 153, 153);
  background-color: rgb(255, 255, 255);
  /* 定位 */
  position: absolute;
  z-index: 10;
  /* 提示在图片外面 */
  top: 100%;
  margin-left: -72px;
}

.tooltiptext3 {
  /* 《企业采购》提示框 */
  visibility: hidden;
  text-align: left;
  padding: 10px;
  width: 140px;
  height: 151px;
  border: 1px solid rgb(204, 204, 204);
  border-top: 0ch;
  color: rgb(153, 153, 153);
  background-color: rgb(255, 255, 255);
  /* 定位 */
  position: absolute;
  z-index: 10;
  /* 提示在图片外面 */
  top: 100%;
  margin-left: -72px;
}

.dq:hover .tooltiptext3 {
  /* 提示文本 */
  visibility: visible;
}

.dq:hover .tooltiptext2 {
  /* 提示文本 */
  visibility: visible;
}

.dq:hover .tooltiptext1 {
  /* 提示文本 */
  visibility: visible;
}

ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0px;
}

li {
  display: inline-block;
  margin: auto;
  padding: 0;
  color: rgb(153, 153, 153);
  text-decoration: none;
  width: 60px;
  line-height: 25px;
}

li:hover {
  color: rgb(227, 51, 51);
  background-color: rgb(244, 244, 244);
}

li.active {
  margin-right: 40px;
}

li.active:hover {
  color: rgb(227, 51, 51);
  background-color: rgb(255, 255, 255);
}

li.a {
  width: 100px;
}

li.jdg:hover {
  color: rgb(227, 51, 51);
  background-color: rgb(255, 255, 255);
}

ul p {
  /* 块级元素 */
  text-align: left;
  margin-left: 15px;
  margin-top: 15px;
}

#header {
  min-width: 1500px;
  height: 140px;
  background-color: rgb(255, 255, 255);
}

#header.w {
  position: relative;
  z-index: 0;
  height: 140px;
}

.hbody {
  position: relative;
  width: 1190px;
  height: 140px;
  margin: auto;
}

.search-m {
  /* 搜索 */
  position: relative;
  width: 1190px;
  height: 60px;
  margin: auto;
  z-index: 1;
}

.search-m .from {
  position: absolute;
  width: 550px;
  height: 32px;
  top: 25px;
  left: 260px;
  border: 1px solid rgb(226, 35, 26);
  background-color: rgb(255, 255, 255);
}

.search-m .from .ssk {
  width: 488px;
  height: 32px;
  outline: none;
}

.search-m img {
  /* 搜索图片 */
  width: 58px;
  height: 32px;
  float: right;
  top: 25px;
}

.search-m .gwc {
  /* 我的购物车 */
  position: absolute;
  left: 830px;
  top: 25px;
  width: 130px;
  height: 34px;
  font-family: "宋体";
  font-size: 7px;
  border: 1px solid rgb(238, 238, 238);
  color: #e1251b;
  text-align: center;
  line-height: 36px;
}

.hotwords {
  /* 搜索框下面词条 */
  display: flex;
  position: absolute;
  top: 65px;
  left: 260px;
  width: 550px;
  height: 20px;
  font-size: 12px;
  color: #999;
  margin-right: 10px;
  flex-wrap: nowrap;
}

.w li {
  width: auto;
}

.w li.one {
  color: #e1251b;
}

.w li:hover {
  cursor: pointer;
  /* 鼠标样式 */
  color: #e1251b;

  background-color: rgb(255, 255, 255);
}

.img {
  /*京东图片 */
  position: absolute;
  width: 190px;
  height: 120px;
  left: 20px;
  top: 10px;
}

.hbottom {
  display: flex;

  flex-wrap: nowrap;
  position: absolute;
  width: 700px;
  height: 40px;
  bottom: 0px;
  left: 203px;
}

.hbottom li.one {
  font-weight: 700;
}

.hbottom li {
  color: black;
}

#fs {
  position: relative;
  min-width: 1500px;
  height: 480px;
  background-color: rgb(244, 244, 244);
}

.fsbody {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  width: 1190px;
  height: 470px;
  margin: auto;
}

.fsone {
  position: relative;
  margin-top: 10px;
  padding: 10px 0px;
  height: 450px;
  width: 190px;
  background-color: rgb(254, 254, 254);
}

.fsone li {
  display: block;
  list-style-type: none;
  color: rgb(51, 51, 51);
  font-size: 14px;
  width: auto;
  margin-left: 15px;
}

.fsone span:hover {
  color: rgb(200, 22, 35);
}

.fsone li:hover .hd {
  visibility: visible;
}
.fsone .hd .hdbody {
  width: 998px;
  height: 432px;
  padding: 20px 0 10px 0;
  position: relative;
}
.fsone .hd .hdbody .box1 {
  width: 800px;
  height: 24px;
  padding: 0 0 0 20px;
  display: flex;
}
.fsone .hd .hdbody .box1 div {
  width: auto;
  height: 24px;
  color: #ffffff;
  font-size: 12px;
  line-height: 24px;
  background-color: #333333;
  margin-right: 10px;
  padding: 0 10px;
}
.fsone .hd .hdbody .box1 div:hover {
  background-color: #c81623;
}
.fsone .hd .hdbody .box2 {
  width: 780px;
  height: 398x;
  padding: 10px 0 0 20px;
  display: flex;
  flex-wrap: wrap;
}
.fsone .hd .hdbody .gg1 {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 166px;
  height: 140px;
}
.fsone .hd .hdbody .gg2 {
  position: absolute;
  top: 170px;
  right: 30px;
  width: 166px;
  height: 140px;
}
.fsone .hd .hdbody .box2 .sbox {
  position: relative;
  width: 700px;
  height: auto;
  padding: 5px 0 5px 80px;
  display: flex;
  flex-wrap: wrap;
}
.fsone .hd .hdbody .box2 .sbox .r {
  margin: 3px 0;
  padding: 0 7px;
  height: 16px;
  line-height: 16px;
  font-size: 7px;
  color: #666;
}
.fsone .hd .hdbody .box2 .sbox .l {
  position: absolute;
  right: 700px;
  top: 9px;
  font-size: 7px;
  color: #333;
  line-height: 16px;
  height: 16px;
  font-weight: 700;
}
.fsone .hd {
  /* 家用电器隐藏文本框 */
  z-index: 100;
  visibility: hidden;
  position: absolute;
  background-color: rgb(255, 255, 255);
  color: #000;
  width: 980px;
  height: 462px;
  border: 1px solid rgb(211, 211, 211);
  /* 定位 */
  /* margin-top: -10px;
    margin-left: 190px; */
  top: 0px;
  left: 160px;
}

/* 自动加手动轮播图 */
.banner {
  /* 图片播放窗口 */
  position: relative;
  top: 10px;
  width: 590px;
  height: 470px;
  overflow: hidden;
}

.banner ul {
  /* 图片存储容器 */
  width: 1770px;
  padding: 0;
  transition: all 1s;
}

.banner li {
  /* 轮播图单图 */
  list-style: none;
  width: 590px;
  height: 470px;
  float: left;
}

.circle {
  /* 循环 */
  position: absolute;
  bottom: 10px;
  left: 30px;
}

.circle label {
  /* 图片下方按钮点击前 */
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 4px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  position: relative;
  cursor: pointer;
}

.circle label::after {
  /* 图片下方按钮点击后 */
  content: "";
  width: 8px;
  height: 8px;
  background: white;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  position: absolute;

  opacity: 0;
  /* 不透明度 */
}

#put1:checked ~ .circle label:first-of-type::after,
#put2:checked ~ .circle label:nth-of-type(2)::after,
#put3:checked ~ .circle label:nth-of-type(3)::after {
  opacity: 1;
}

#put1:checked ~ ul {
  margin-left: 0;
}

#put2:checked ~ ul {
  margin-left: -590px;
}

#put3:checked ~ ul {
  margin-left: -1180px;
}

.left_arrow label {
  /* 隐藏按钮的位置 */
  display: inline-block;
  width: 25px;
  height: 25px;
  top: 50%;
  left: 0%;
  margin-top: -12.5px;
  position: absolute;
  margin-left: 25px;
}

/* 圆点的put1,put2,put3和箭头的put1,put2,put3是相互联系的，同时受input制约 */
#put1:checked ~ .left_arrow label:nth-of-type(3),
#put2:checked ~ .left_arrow label:nth-of-type(1),
#put3:checked ~ .left_arrow label:nth-of-type(2) {
  opacity: 0.5;
  margin-left: 0px;
  cursor: pointer;
  background: url(image/dem/left.png) no-repeat center center;
  /* background-color: #000; */
}

.right_arrow label {
  display: inline-block;
  width: 25px;
  height: 25px;
  top: 50%;
  right: 0%;
  margin-top: -12.5px;
  position: absolute;
  margin-right: 25px;
}

#put1:checked ~ .right_arrow label:nth-of-type(2),
#put2:checked ~ .right_arrow label:nth-of-type(3),
#put3:checked ~ .right_arrow label:nth-of-type(1) {
  opacity: 0.5;
  margin-right: 0px;
  cursor: pointer;
  background: url(image/dem/right.png) no-repeat center center;
}

.fsthree {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin-top: 10px;
  width: 190px;
  height: 470px;
  overflow: hidden;
}

.fsthree > .a {
  /* 循环播放容器 */
  width: 190px;
  height: 150px;
}

.demo3 {
  /* 图片容器 */
  width: 570px;
  height: 150px;
  font-size: 0px;
  animation: three 30s infinite linear;
}

.fsthree img {
  /* 单个图片大小 */
  width: 190px;
  height: 150px;
  float: left;
}

@keyframes three {
  /* 播放动画 */
  0%,
  32.99% {
    margin-left: 0px;
  }

  33%,
  67.99% {
    margin-left: -190px;
  }

  68%,
  100% {
    margin-left: -380px;
  }
}

.fsfour {
  margin-top: 10px;
  height: 470px;
  width: 190px;
  background-color: rgb(255, 255, 255);
}

.fsfour > .one {
  position: relative;
  flex-wrap: wrap;
  width: 190px;
  height: 102px;
  z-index: 0;
}

.fsfour .one .o {
  /* 头像框 */
  position: absolute;
  width: 40px;
  height: 40px;
  margin-top: 13px;
  margin-left: 20px;
  border-radius: 50%;
}

.fsfour .one .t {
  /* 欢迎逛京东 */
  position: absolute;
  width: 106px;
  height: 38px;
  margin-top: 16px;
  margin-left: 70px;
  cursor: pointer;
}

.fsfour .one .t span:hover {
  color: #c81623;
}

.fsfour .one .bottom {
  /* 新人福利、plus会员 框 */
  position: absolute;
  justify-content: space-between;
  margin-top: 70px;
  height: 25px;
  width: 100%;
}

.img1 {
  /* 头像 */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.fsfour .one li {
  list-style-type: none;
  width: auto;
  display: block;
  color: #666;
  font-size: 7px;
  line-height: normal;
  cursor: pointer;
}

.fsfour .one li:hover {
  background-color: rgb(255, 255, 255);
}

.fsfour .red:hover {
  color: rgb(200, 22, 35);
}

.fsfour > .one > .bottom > .left {
  /* 新人福利 */
  position: absolute;
  margin: 0 16px;
  width: 70px;
  height: 25px;
  min-width: auto;
  background-color: rgb(223, 36, 28);
  color: rgb(255, 255, 255);
  font-size: 7px;
  text-align: center;
  line-height: 25px;
  border-radius: 30px;
  cursor: pointer;
}

.fsfour > .one > .bottom > .right {
  /* PLUS会员 */
  position: absolute;
  margin: 0 16px;
  width: 70px;
  height: 25px;
  margin-left: 100px;
  min-width: auto;
  background-color: rgb(54, 54, 52);
  border-radius: 30px;
  font-size: 7px;
  text-align: center;
  line-height: 25px;
  color: rgb(229, 215, 144);
  cursor: pointer;
}

hr {
  width: 60%;
  border-bottom: 1px solid rgb(238, 238, 238);
  margin: auto;
}

.fsfour > .two {
  width: 190px;
  height: 130px;
}

.fsfour > .two > .o {
  /* 京东快报 */
  margin: 0px 15px;
  padding: 10px 0 0 0;
  width: 150px;
  height: 20px;
  font-weight: 700;
  font-size: 14px;
}

.fsfour > .two > .o > a {
  /* “更多 */
  text-decoration: none;
  /* 删除下划线 */
  font-size: 12px;
  color: rgb(153, 153, 153);
  float: right;
  cursor: pointer;
}

.fsfour > .two > .t {
  list-style-type: none;
  font-size: 12px;
  height: 100px;
  color: #666;
  width: 160px;
  margin: auto;
}

.fsfour > .two > .t > li {
  cursor: pointer;
  color: #666;
  width: 160px;
  height: 20px;
  overflow: hidden;
  /*规定文本不进行换行*/
  white-space: nowrap;
  /*当对象内文本溢出时显示省略标记（...）*/
  text-overflow: ellipsis;
}

.fsfour > .two > .t > li:hover {
  background-color: rgb(255, 255, 255);
  color: #c81623;
}

.fsfour > .two > .t .a {
  cursor: pointer;
  /* 热门、HOT */
  background-color: rgb(253, 238, 237);
  color: rgb(225, 37, 27);
  width: 35px;
  height: 16px;
  margin-right: 6px;
}

.fsfour > .three {
  display: flex;
  width: 190px;
  margin-top: 11px;
  height: 225px;
}

.fsfour > .three > .bb {
  /* 话费等先分为三等份 */
  display: flex;
  flex: 1;
  flex-direction: column;
  /* 子元素从上往下分 */
}

.fsfour > .three > .bb > div {
  cursor: pointer;
  /* 三等份里的四个小盒子 */
  display: flex;
  flex-direction: column;
  /* 从上往下排列 */
  flex: 1;
  align-items: center;
  /* 侧轴（x）居中 */
  color: #333;
  font-size: 7px;
}
.fsfour > .three > .bb > div > img {
  width: 28px;
  height: 28px;
  margin-bottom: 4px;
  opacity: 1;
}

#a {
  display: flex;
  margin-top: 30px;
  min-width: 1500px;
  height: 260px;
}

#a > .bd {
  display: flex;
  width: 1190px;
  margin: auto;
  height: 260px;
  cursor: pointer;
}

.xfl {
  margin: auto;
  height: 420px;
  width: 58px;
  left: 1390px;
  background-color: #c81623;
}

#a > .bd > div:nth-child(2n-1) {
  position: relative;
  background-color: #fff;
  flex: 1;
}

#a > .bd > div {
  flex: 4;
  overflow: hidden;
}

#a > .bd > div:nth-child(1) > div {
  position: absolute;
  top: 31px;
  width: 190px;
  height: 45px;
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

#a > .bd > div:nth-child(2) > ul {
  /* 京东秒杀旁边轮播图 */
  display: flex;
  width: 2400px;
  height: 260px;
  list-style-type: none;
  background-color: #c81623;
  animation: jd 30s infinite linear;
}

#a > .bd > div:nth-child(2) > ul > li {
  width: 200px;
  height: 260px;
  background-color: rgb(255, 255, 255);
  margin: 0px;
}

#a > .bd > div:nth-child(2) > ul > li > div {
  /* 京东秒杀旁边图片 */
  margin: 30px auto 0 auto;
  width: 140px;
  height: 140px;
}

#a > .bd > div:nth-child(2) > ul > li > div > img {
  width: 140px;
  height: 140px;
}

#a > .bd > div:nth-child(2) > ul > li > span {
  display: inline-block;
  width: 160px;
  height: 18px;
  margin: 13px 20px 0 20px;
  font-size: 12px;
  font-weight: 400;
  color: #333;
  overflow: hidden;
  /*规定文本不进行换行*/
  white-space: nowrap;
  /*当对象内文本溢出时显示省略标记（...）*/
  text-overflow: ellipsis;
}

#a > .bd > div:nth-child(2) > ul > li > span:hover {
  color: #c81623;
}

#a > .bd > div:nth-child(2) > ul > li > .b {
  width: 160px;
  height: 24px;
  margin-top: 7px;
  line-height: 24px;
  text-align: center;
  color: #e1251b;
  font-size: 12px;
  font-weight: 700;
}

@keyframes jd {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -1600px;
  }
}

#a > .bd > div > r {
  width: 180px;
  height: 240px;
  padding: 10px;
}

#a > .bd > div:nth-child(3) > div {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  width: 180px;
  height: 240px;
  padding: 10px;
}

#a > .bd > div:nth-child(3) > div > img {
  margin: 0 auto;
  width: 120px;
  height: 120px;
}

#a > .bd > div:nth-child(3) > div > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 180px;
  margin-top: 10px;
}

#a > .bd > div:nth-child(3) > div > div > .one {
  font-size: 14px;
  font-weight: 500;
  /*    margin: 0 auto; */
  color: #666666;
  height: 21px;
}

#a > .bd > div:nth-child(3) > div > div > .two {
  font-size: 14px;
  font-weight: 700;
  color: #333333;
  height: 21px;
}

#a > .bd > div:nth-child(3) > div > div > .three {
  border-radius: 14px;
  margin-top: 4px;
  width: 82px;
  line-height: 24px;
  height: 24px;
  border: 1px solid #e1251b;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: #e1251b;
}

#a > .bd > div:nth-child(3) > div > div > .three:hover {
  color: white;
  border-color: transparent;
  background-color: #c81623;
}

#b {
  margin: 20px auto;
  min-width: 1500px;
  height: 340px;
}

#b > .bd {
  display: flex;
  justify-content: space-between;
  width: 1190px;
  margin: auto;
  height: 340px;
}

#b > .bd > .l {
  width: 590px;
  height: 340px;
  background-color: rgb(255, 255, 255);
}

#b > .bd .head {
  position: relative;
  padding: 0 20px;
  width: 550px;
  height: 60px;
}

#b > .bd .head .left {
  font-weight: 700;
  font-size: 24px;
  float: left;
  line-height: 60px;
  cursor: pointer;
}

#b > .bd .head > ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  float: right;
  font-size: 14px;
  height: 21px;
  width: 261.5px;
  margin-top: 15px;
}

#b > .bd .head > ul > li {
  width: auto;
  line-height: 16px;
  font-size: 14px;
  color: #999999;
  cursor: pointer;
}

#b > .bd .head > ul > li:hover {
  background-color: rgb(255, 255, 255);
  color: #e1251b;
  text-decoration: underline 3px;
  /* 给文字设置下划线*/
  text-decoration-color: #e1251b;
  /*给下划线设置颜色 */
  text-underline-offset: 4px;
  /* 下划线与文字距离  */
}

#b .ts {
  visibility: hidden;
  position: absolute;
  display: flex;
  width: 560px;
  height: 270px;
  padding: 0 15px 15px 15px;
  top: 60px;
  left: 0px;
  background-color: rgb(255, 255, 255);
}

#b .ch {
  position: absolute;
  display: flex;
  width: 560px;
  height: 270px;
  padding: 0 15px 15px 15px;
  top: 60px;
  left: 0px;
}

#b .a {
  width: 170px;
  height: 256px;
  margin-right: 6px;
  background-color: rgb(248, 248, 249);
}

#b .dw {
  position: relative;
}

#b .mr {
  position: absolute;
  left: 0px;
  top: 70px;
  display: inline-block;
  color: #ffffff;
  font-size: 12px;
  background-color: #00000099;
  width: 84px;
  text-align: center;
}

#b .a > .a {
  width: 170px;
  height: auto;
  color: #333333;
  font-size: 14px;
  margin: 9px 0px 4px 0px;
  text-align: center;
  line-height: 25px;
}

#b .yq {
  /* 已抢 */
  position: absolute;
  color: #999999;
  font-size: 12px;
  height: 18px;
  top: 70px;
}

#b .yq span {
  color: #e1251b;
}

#b .a > span {
  /* 298天最低价 */
  display: inline-block;
  float: left;
  text-align: center;
  width: 90px;
  height: 24px;
  line-height: 24px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  background-color: rgb(247, 164, 0);
}

#b .a > .a > img {
  width: 120px;
  height: 120px;
  margin-top: 22px;
}

#b .a > .a > .q {
  color: #e1251b;
  font: 18px;
  font-weight: 700;
  text-align: center;
}

#b .b {
  width: 384px;
  height: 256px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
}

#b .b .b {
  float: left;
  width: 165px;
  height: 89px;
  margin: 18px 0px 48px 19px;
}

#b .c {
  position: relative;
  height: 84px;
  width: 75px;
  color: #333333;
  font-size: 12px;
}

#b .c .rmb {
  font-size: 14px;
  width: 0px;
  color: #e1251b;
  font-weight: 700;
  margin-top: 5px;
  margin-left: 5px;
}

#b .b img {
  width: 84px;
  height: 84px;
}

#b .b .d {
  display: grid;
  float: left;
  width: 170px;
  height: 84px;
  margin: 0px 0px 48px 19px;
  grid-template-columns: 84px 75px;
}

#b .b .rmb {
  color: #e1251b;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

#b li:hover .ts {
  visibility: visible;
}

#b > .bd > .r {
  width: 590px;
  height: 340px;
  background-color: rgb(255, 255, 255);
}

#b > .bd > .r > .bd {
  display: flex;
  height: 325px;
  width: 550px;
  margin: 0 20px 10px 20px;
  background-color: rgb(255, 255, 255);
}

#b > .bd > .r > .bd > .bd {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

#b > .bd > .r > .bd > .bd:nth-child(1) {
  background-color: rgb(245, 248, 245);
}

#b > .bd > .r .head {
  /* 品牌闪购 */
  width: 235px;
  font-weight: 700;
  font-size: 24px;
  float: left;
  line-height: 60px;
  cursor: pointer;
  color: #000;
  background-color: rgb(255, 255, 255);
}

#b .sfj {
  /* 舒福佳 */
  margin-top: 20px;
  text-align: center;
  font-weight: 700;
  width: 275px;
  color: rgb(15, 101, 206);
  font-size: 20px;
  height: 70px;
}

#b .aa {
  text-align: center;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  width: 275px;
  height: 30px;
}

#b .aaa {
  color: #999;
  font-size: 13px;
  height: 30px;
  margin-top: -10px;
}

#b > .bd > .r > .bd:nth-child(1) img {
  width: 120px;
  height: 120px;
}

#b > .bd > .r > .bd :nth-child(2) > .body {
  width: 275px;
  margin-top: 30px;
  height: 295px;
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(2, 135px);
}

#b > .bd > .r > .bd :nth-child(2) > .body > .sb {
  /* 商标 */
  text-align: end;
  width: 135px;
  height: 72px;
  padding: 14px 0;
}

#b > .bd > .r > .bd :nth-child(2) > .body > .sb > .sb1 {
  /* 商标 */
  width: 100px;
  height: 50px;
  margin-right: 20px;
}

#b > .bd > .r > .bd :nth-child(2) > .body > .sb > .sb2 {
  /* 字 */
  width: 135px;
  text-align: center;
  height: 18px;
  font-size: 12px;
  margin-top: 6px;
  font-weight: 400;
  color: #666;
}

#c {
  min-width: 1500px;
  height: 260px;
}

#c > .bd {
  display: grid;
  width: 1190px;
  height: 260px;
  margin: auto;
  grid-template-columns: 190px 990px;
  grid-template-rows: 260px 260px;
  grid-column-gap: 10px;
}

#c > .bd > .l {
  cursor: pointer;
  width: 190px;
  height: 260px;
  background-image: url("image/发现好货/发现好货.png");
}

#c > .bd > .l > .haohuo {
  width: 160px;
  height: 90px;
  margin: 0 auto;
  margin-top: 15px;
  background-image: url("image/发现好货/发现.png");
}

#c > .bd > .l > .haohuo > span {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  padding-top: 55px;
  padding-left: 20px;
  padding-bottom: 10px;
  display: block;
}

#c > .bd > .r {
  /* 滚动条初始隐藏 */
  width: 990px;
  height: 260px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

#c > .bd > .r:hover {
  /* 放上鼠标进度条出现 */
  overflow: auto;
}

#c > .bd > .r > ul {
  width: 3000px;
  height: 231px;
  display: flex;
  animation: gundong 40s infinite linear;
}

#c > .bd > .r > ul:hover {
  animation-play-state: paused;
}

#c > .bd > .r > ul > .li1 {
  margin: 50px 50px 0 0;
  width: 150px;
  height: auto;
}

#c > .bd > .r > ul > .li2 {
  margin: 20px 50px 0 0;
  width: 150px;
  height: auto;
}

#c ul li:hover {
  /* 与屎山代码抵消 */
  background-color: rgb(255, 255, 255);
}

#c .name1:hover {
  color: #e1251b;
  background-color: rgb(255, 255, 255);
}

#c .name2:hover {
  color: #e1251b;
  background-color: rgb(255, 255, 255);
}

#c .name1 {
  overflow: hidden;
  /* 文本不换行 */
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

#c .name2 {
  overflow: hidden;
  /* 文本不换行 */
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

@keyframes gundong {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -2000px;
  }
}

#c ul img {
  width: 150px;
  height: 150px;
}

#d {
  margin: 20px 0;
  min-width: 1500px;
  height: 340px;
}

#d > .bd {
  display: flex;
  justify-content: space-between;
  height: 340px;
  width: 1190px;
  margin: auto;
}

#d > .bd > div {
  width: 290px;
  height: 340px;
  background-color: rgb(255, 255, 255);
}

#d > .bd > div:nth-child(2) > .header {
  /* TOY寻宝 */
  width: 280px;
  height: 40px;
  margin-top: -5px;
  margin-bottom: -10px;
}

#d > .bd > div:nth-child(2) > .header ul {
  display: flex;
  position: relative;
}

#d > .bd > div:nth-child(2) > .header li {
  height: 20px;
  width: 62px;
  margin: 0 4px;
  border-radius: 12px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  background-color: #f6f6f6;
}

#d > .bd > div:nth-child(2) > .header li .yc {
  display: flex;
  flex-wrap: wrap;
  visibility: hidden;
  position: absolute;
  top: 30px;
  left: 0px;
  height: 230px;
  width: 290px;
  background-color: rgb(255, 255, 255);
}

#d > .bd > div:nth-child(2) > .header li:hover {
  background-color: #e1251b;
  color: #ffffff;
}

#d > .bd > div:nth-child(2) > .header li:hover .yc {
  visibility: visible;
}

#d > .bd > div:nth-child(2) .bbsb {
  display: flex;
  flex-wrap: wrap;
  height: 70px;
  width: 270px;
  padding: 0 10px;
  margin-bottom: 10px;
}

#d > .bd > div:nth-child(2) .bbsb img {
  height: 70px;
  width: 70px;
}

#d > .bd > div:nth-child(2) .bbsb .text {
  line-height: 20px;
  text-align: start;
  color: #333333;
  font-size: 14px;
  width: 180px;
  height: 70.4px;
  margin: 0 auto;
}

#d > .bd > div:nth-child(2) .bbsb .price {
  width: 180px;
  height: 24px;
  margin-top: 10px;
  color: #e1251b;
  font-size: 16px;
}

.price > span {
  color: #e1251b;
  font-size: 12px;
}

#d > .bd > div:nth-child(1) {
  background-image: url("image/新品首发/新品首发bg.png");
  background-size: 100% 100%;
}

#d > .bd > div:nth-child(3) > .bd1,
.bd2 {
  cursor: pointer;
  width: 120px;
  height: 98px;
  padding: 15px 125px 15px 15px;
  margin: 0 15px 10px 15px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

#d > .bd > div:nth-child(3) .bd1 {
  background-image: url("image/新品首发/海威bg.png");
}

#d > .bd > div:nth-child(3) .bd2 {
  background-image: url("image/新品首发/格力官方.png");
}

#d > .bd > div:nth-child(3) .title {
  max-height: 38px;
  line-height: 1.3em;
  font-size: 14px;
  color: #333;
  width: 120px;
  overflow: hidden;
  /*当对象内文本溢出时显示省略标记（...）*/
  text-overflow: ellipsis;
  /* 在第几行隐藏出省略号 */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#d > .bd > div:nth-child(3) .bd1 > .bd1 {
  width: 120px;
  height: 18.2px;
  margin-top: 5px;
  display: flex;
  flex-wrap: nowrap;
}

#d > .bd > div:nth-child(3) .bd1 .bq1 {
  /* 标签红 */
  width: 24px;
  height: 16px;
  padding: 0 2px;
  border: 1px solid #e1251b;
  margin: 0 5px 0 0;
  color: #e1251b;
  font-size: 12px;
  cursor: pointer;
}

#d > .bd > div:nth-child(3) .bq2 {
  /* 标签红 */
  width: 54px;
  height: 16px;
  padding: 0 2px;
  border: 1px solid #596fab;
  margin: 0 5px 0 0;
  color: #596fab;
  font-size: 12px;
  cursor: pointer;
}

#d > .bd > div:nth-child(3) .img {
  position: absolute;
  padding: 5px;
  width: 90px;
  height: 90px;
  top: 15px;
  left: 150px;
  background-color: #fff;
  cursor: pointer;
}

#d > .bd > div:nth-child(3) img {
  width: 90px;
  height: 90px;
}

#d > .bd > div:nth-child(3) .guanzhu {
  /* 关注人数 */
  color: #999999;
  font-size: 12px;
  width: 79.04px;
  height: 18px;
  margin-top: 20px;
}

#d > .bd > div:nth-child(3) .guanzhu3 {
  /* 关注人数 */
  color: #999999;
  font-size: 12px;
  width: 79.04px;
  height: 18px;
  margin-top: 40px;
}

#d > .bd > div:nth-child(4) .bg {
  width: 290px;
  height: 280px;
  background-image: url("image/新品首发/领卷中心bg.png");
  display: flex;
  flex-direction: column;
}

#d > .bd > div:nth-child(4) .bg .bg {
  width: 260px;
  padding: 0 15px;
  height: 280px;
}

#d > .bd > div:nth-child(4) .bg .bg .div {
  height: 82px;
  width: 260px;
  margin-bottom: 3px;
  display: flex;
  flex-wrap: wrap;
}

#d > .bd > div:nth-child(4) .bg .bg .div .ljimg {
  width: 50px;
  height: 50px;
  padding: 8px;
  margin: 8px 0 0 7px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

#d > .bd > div:nth-child(4) .bg .bg .div .ljimg .jimg {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

#d > .bd > div:nth-child(4) .bg .bg .div .div {
  width: 140px;
  height: 78px;
}

#d > .bd > div:nth-child(4) .bg .bg .div .ljprice {
  width: 140px;
  height: 34px;
  color: #e33333;
  font-size: 14px;
  font-family: impact, sans-serif;
}

#d > .bd > div:nth-child(4) .bg .bg .div .div .desc {
  width: 140px;
  height: 18px;
  color: #333333;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#d > .bd > div:nth-child(4) .bg .bg > .div > .inner {
  width: 10px;
  height: 60px;
  font-size: 12px;
  font-family: "Microsoft YaHei";
  color: #666666;
  margin-top: 10px;
  cursor: pointer;
}

#d > .bd > div:nth-child(4) .bg .bg > .div > .inner:hover {
  color: #e1251b;
}

#d > .bd > div:nth-child(4) .bg .bg > .div > .gd {
  width: 10px;
  height: 60px;
  font-size: 12px;
  margin-top: 10px;
  cursor: pointer;
  line-height: 60px;
}

#d > .bd > div:nth-child(4) .bg .bg .div .ljprice > span {
  width: 140px;
  height: 34px;
  color: #e33333;
  font-size: 28px;
}

#d .head {
  width: 250px;
  padding: 0 20px;
  height: 60px;
}
#d > .bd > div:nth-child(1) img {
  width: 290px;
  height: 250px;
}
#d > .bd > div:nth-child(4) .bg .bg .div .limit {
  color: #999999;
  font-size: 12px;
  width: 140px;
  height: 18px;
}

#d .head .text {
  float: left;
  font-weight: 700;
  font-size: 24px;
  color: #333;
  line-height: 32px;
  width: 120px;
  height: 32px;
  margin: 12px 0 0 0;
}

#fixed {
  top: 100px;
  width: 58px;
  height: 420px;
  position: fixed;
  left: 50%;
  margin-left: 630px;
  z-index: 99;
}

#fixed > ul {
  width: 58px;
  height: 420px;
}

#fixed > ul > li {
  width: 58px;
  height: 60px;
  line-height: 19px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

#fixed > ul > li > .li1 {
  width: 28px;
  height: 38.2px;
  color: #e1251b;
  font-size: 14px;
  font-family: "Microsoft YaHei";
}

#fixed > ul > li > .li2 {
  width: 28px;
  height: 38.2px;
  font-size: 14px;
  font-family: "Microsoft YaHei";
}

#fixed > ul > li > .li3 {
  width: 28px;
  height: 19.2px;
  font-size: 14px;
  font-family: "Microsoft YaHei";
}

#fixed .i {
  width: 16px;
  height: 16.8px;
  margin: 0 10px;
}

#fixed > ul > li > .li2 > a {
  color: #333;
}

#fixed > ul > li > .li3 > a {
  color: #333;
}

#fixed li:hover {
  background-color: rgb(200, 22, 35);
}

#fixed li:hover .a {
  color: #fff;
}

#fixed a {
  /* 清除下划线 */
  text-decoration: none;
  color: #e1251b;
  font-size: 14px;
  padding: auto;
}

#fixed hr {
  position: absolute;
  left: 12px;
}

#pdgcbg {
  min-width: 1500px;
  height: 45px;
  margin-bottom: 20px;
}
#pdgcbg > .pdgc {
  width: 150px;
  height: 45px;
  margin: 0 auto 20px;
  padding: 0 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
  position: relative;
}

#pdgcbg > .pdgc > .divf {
  width: 25px;
  height: 20px;
  position: absolute;
  top: 12.5px;
  left: 0px;
}

#pdgcbg > .pdgc > .divl {
  width: 25px;
  height: 20px;
  position: absolute;
  top: 12.5px;
  right: 0px;
}
#pdgcbg1 {
  min-width: 1500px;
  height: 45px;
  margin-bottom: 20px;
}
#pdgcbg1 > .pdgc {
  width: 150px;
  height: 45px;
  margin: 0 auto 20px;
  padding: 0 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
  position: relative;
}

#pdgcbg1 > .pdgc > .divf {
  width: 25px;
  height: 20px;
  position: absolute;
  top: 12.5px;
  left: 0px;
}

#pdgcbg1 > .pdgc > .divl {
  width: 25px;
  height: 20px;
  position: absolute;
  top: 12.5px;
  right: 0px;
}

#jdcsbg {
  min-width: 1500px;
  height: 950px;
  margin-bottom: 20px;
}

#jdcsbg > .jdcs {
  width: 1190px;
  height: 950px;
  margin: auto;
  display: grid;
  place-content: space-between space-between;
  grid-template-columns: repeat(4, 290px);
  grid-template-rows: repeat(5, 180px);
  grid-template-areas:
    "jd sx sj es"
    "jd sx jz dq"
    "qy cs dz dy"
    "joy sxg mz ss"
    "xj sm cw xyj";
}

.jdimg,
.sximg,
.sjimg,
.esimg,
.jzimg,
.dqimg,
.qyimg,
.csimg,
.dzimg,
.dyimg,
.joyimg,
.sxgimg,
.mzimg,
.ssimg,
.xjimg,
.smimg,
.cwimg,
.xyjimg {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

#jdcsbg .jdimg {
  grid-area: jd;
}

#jdcsbg .sximg {
  grid-area: sx;
}

#jdcsbg .sjimg {
  grid-area: sj;
}

#jdcsbg .esimg {
  grid-area: es;
}

#jdcsbg .jzimg {
  grid-area: jz;
}

#jdcsbg .dqimg {
  grid-area: dq;
}

#jdcsbg .qyimg {
  grid-area: qy;
}

#jdcsbg .csimg {
  grid-area: cs;
}

#jdcsbg .dzimg {
  grid-area: dz;
}

#jdcsbg .dyimg {
  grid-area: dy;
}

#jdcsbg .joyimg {
  grid-area: sxg;
}

#jdcsbg .mzimg {
  grid-area: mz;
}

#jdcsbg .ssimg {
  grid-area: ss;
}

#jdcsbg .xjimg {
  grid-area: xj;
}

#jdcsbg .smimg {
  grid-area: sm;
}

#jdcsbg .cwimg {
  grid-area: cw;
}

#jdcsbg .xyjimg {
  grid-area: xyj;
}

#jdcsbg .tbox {
  /* 顶部的盒子 */
  width: 250px;
  height: 30px;
  padding: 17px 0 13px 0;
  margin: 0 10px 0px 30px;

  font-size: 22px;
  font-weight: 700;
  color: #333;
}

#jdcsbg .tbox > .sbox {
  color: #999;
  font-size: 14px;
  margin-left: 5px;
  font-weight: 400;
}

#jdcsbg .bbox {
  /* 底部的盒子 */
  display: flex;
  width: 260px;
  height: 100px;
  margin: 0 0 0 30px;
}

#jdcsbg .bbox > .lbox {
  width: 100px;
  height: 100px;
  margin-right: 30px;
  transition: opacity 0.5s;
}

#jdcsbg .bbox > .lbox:hover {
  opacity: 0.8;
}

#jdcsbg .jdimg,
.sximg {
  transition: opacity 0.5s;
}

#jdcsbg .jdimg:hover,
.sximg:hover {
  opacity: 0.8;
}

#wntj {
  width: 1190px;
  margin: auto;
  height: 1056px;
}

#wntj > .header {
  width: 1190px;
  height: 60px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
}

#wntj .header ul {
  width: 1080px;
  height: 60px;
  margin: auto;
  display: flex;
}

#wntj .header ul li {
  width: 180px;
  height: 60px;
  /*首先我们设置边框只显示右侧，宽度为2px的实线。*/
  border-right: 2px solid;
  /*设置线性渐变*/
  border-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 10%,
      rgb(226, 226, 226) 50%,
      rgba(255, 255, 255, 0) 90%
    )
    2 2 2 2;
}

#wntj .header ul .li {
  width: 180px;
  height: 60px;
  border-right: 0px;
}

#wntj .header ul li:hover {
  background-color: rgb(255, 255, 255);
}

#wntj .header ul li:hover .tbox {
  color: #c81623;
}

#wntj .header ul li:hover .bbox {
  color: #c81623;
}

#wntj .header ul li .tbox {
  width: 180px;
  height: 27px;
  margin-top: 7px;
  color: #333333;
  font-size: 16px;
  line-height: 27px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
}

#wntj .header ul li .tbox1 {
  width: 70px;
  height: 27px;
  color: #fff;
  padding: 0 5px;
  margin: auto;
  background-color: #e1251b;
  border-radius: 50px;
  font-size: 16px;
  line-height: 27px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
}

#wntj .header ul li .bbox {
  width: 180px;
  height: 21px;
  color: #999999;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

#wntj .header ul li .bbox1 {
  width: 180px;
  height: 21px;
  color: #e1251b;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

#wntj .body {
  width: 1190px;
  height: 986px;
  display: grid;
  grid-template-columns: repeat(5, 230px);
  grid-template-rows: repeat(3, 322px);
  place-content: space-between space-between;
}

#wntj .body div {
  background-color: rgb(255, 255, 255);
  position: relative;
  cursor: pointer;
}

#wntj .body div .zxs {
  transition: opacity 0.5s;
  opacity: 0;
  position: absolute;
  width: 120px;
  height: 28px;
  border: 1px solid #353131;
  background-color: #353131;
  font-size: 12px;
  border-radius: 15px;
  color: #fff;
  left: 55px;
  bottom: 20px;
  visibility: hidden;
  text-align: center;
  line-height: 28px;
}

#wntj .body div:hover .zxs {
  visibility: visible;
  opacity: 1;
}

#wntj .body div:hover .bbox {
  opacity: 0;
}

#wntj .body .tbox {
  background-color: rgb(255, 255, 255);
  width: 150px;
  height: 150px;
  margin: 30px 40px 40px;
  opacity: 1;
  transition: opacity 0.5s;
}

#wntj .body div:hover .tbox {
  opacity: 0.8;
}

#wntj .body .mbox {
  margin: auto;
  text-align: center;
  width: 190px;
  height: 48px;
  font-size: 14px;
  line-height: 24px;
  color: #666;
  overflow: hidden;
  /*当对象内文本溢出时显示省略标记（...）*/
  text-overflow: ellipsis;
  /* 在第几行隐藏出省略号 */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#wntj .body .bbox {
  width: 190px;
  height: 30px;
  margin: auto;
  font-size: 18px;
  color: #e1251b;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.5s;
}

#wntj .body .mbox span {
  background-color: #e1251b;
  border-radius: 2px;
  color: #fff;
  padding: 0 5px;
  margin-right: 4px;
  line-height: 16px;
  height: 16px;
  font-size: 12px;
}

#wntj .body .bbox span {
  font-size: 12px;
  color: #e1251b;
  font-weight: 700;
}

#wntj .body .div1 {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#wntj .body .jxdiv {
  width: 100%;
  height: 100%;
  background-image: url("image/为你推荐/精选.png");
}

#wntj .body .jxdiv .header {
  width: 110px;
  height: 34px;
  margin: 20px 60px 37px 60px;
  line-height: 34px;
  color: #fff;
  background-color: #f2272b;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border-radius: 50px;
}

#wntj .body .jxdiv .bbbox {
  width: 230px;
  height: 192px;
  display: grid;
  place-content: space-around space-around;
  grid-template-columns: repeat(2, 88px);
  grid-template-rows: repeat(4, 32px);
}

#wntj .body .jxdiv .bbbox div {
  font-weight: 400;
  width: 100%;
  height: 100%;
  color: #c81623;
  border: 1px solid #ffe0e8;
  border-radius: 5px;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
}

#wntj .body .jxdiv .bbbox div:hover {
  background: #c81623;
  border-color: #c81623;
  color: #fff;
}
#dbbg {
  margin-top: 10px;
  width: 1190px;
  height: 570px;
  margin: auto;
}
#dbbg .box1 {
  width: 1190px;
  height: 42px;
  padding: 30px 0;
  display: flex;
  border-bottom: 1px solid #dedede;
}
#dbbg .box1 .zbox {
  position: relative;
  width: 180px;
  height: 42px;
  padding-left: 45px;
  margin: 0 36px;
  font-size: 18px;
  font-weight: 700;
  color: #444;
  line-height: 42px;
}
#dbbg .box1 .zbox img {
  width: 36px;
  height: 42px;
  position: absolute;
  left: 0px;
}
#dbbg .box2 {
  display: flex;
  width: 1190px;
  height: 160px;
  padding: 20px 0;
  border-bottom: 1px solid #dedede;
}
#dbbg .box2 .lbox {
  width: 990px;
  height: 159px;
}
#dbbg .box2 .lbox .lbox1 {
  width: 990px;
  height: 22px;
  margin-bottom: 5px;
  display: flex;
}
#dbbg .box2 .lbox .lbox1 .text {
  width: 198px;
  height: 22px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  color: #666666;
}
#dbbg .box2 .lbox .lbox2 {
  width: 990px;
  height: 22px;
  display: grid;
  grid-template-columns: repeat(5, 198px);
  grid-template-rows: repeat(6, 22px);
}
#dbbg .box2 .lbox .lbox2 .text {
  color: #666666;
  font-size: 12px;
  width: auto;
  height: 16px;
}
#dbbg .box2 .rbox {
  width: 200px;
  height: 150px;
}
#dbbg .box2 .rbox .text {
  width: 200px;
  height: 21px;
  margin-bottom: 15px;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  color: #666666;
}
#dbbg .box2 .rbox .bbox {
  width: 180px;
  height: 54px;
  padding: 0 10px;
  color: #666666;
  font-size: 12px;
  line-height: 18px;
}
#dbbg .box2 .rbox .bbox .b1box {
  width: 180px;
  text-align: right;
}
#dbbg .box3 {
  width: 1190px;
  height: 236px;
  padding: 15px 0;
  border-top: 1px;
}
#dbbg .box3 .box31 {
  width: 1190px;
  height: 18px;
  padding: 0px;
  display: flex;
}
#dbbg .box3 .box31 li {
  width: auto;
  height: 16px;
  color: #666666;
  font-size: 12px;
  text-align: center;
}
#dbbg .box3 .box31 span {
  margin: 0 7px;
  color: #cccccc;
  font-weight: 100;
}
#dbbg .box3 .box32 {
  width: 1190px;
  height: 110px;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#dbbg .box3 .box32 ul {
  flex: 1;
  width: 1190px;
  height: 22px;
  display: flex;
  justify-content: center;
}
#dbbg .box3 .box32 li {
  width: auto;
  height: 16px;
  color: #999999;
  font-size: 12px;
  text-align: center;
  margin: 0px;
  line-height: 22px;
}
#dbbg .box3 .box32 span {
  line-height: 22px;
  margin: 0 7px;
  color: #999999;
  font-weight: 100;
  font-size: 12px;
}
#dbbg .box4 {
  width: 1190px;
  height: 36.4px;
  color: #666666;
  font-size: 12px;
  margin: 25px 0;
  display: flex;
  justify-content: center;
}
#dbbg .box4 img {
  width: 103px;
  height: 32px;
  margin: 0 3px;
}
#dbbg .box4 .img1 {
  width: 70px;
  height: 32px;
  margin: 0 3px;
  border-radius: 0;
}
#dbbg .box4 .img2 {
  width: 88px;
  height: 32px;
  margin: 0 3px;
}
