@font-face {
  font-family: "iconfont"; /* Project id 3500109 */
  src: url('iconfont.woff2?t=1657267479002') format('woff2'),
       url('iconfont.woff?t=1657267479002') format('woff'),
       url('iconfont.ttf?t=1657267479002') format('truetype');
}

.iconfontgd {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconfontgd:hover {
 color: #e1251b;
}

.icon-gengduo1:before {
  content: "\e620";
}

.iconfontgdd {
  font-family: "iconfont" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}